.contacts {
    padding-top: 160px;
    padding-bottom: 150px;

    background-image: url("../img/bg/03.jpg");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
}


.contacts-title {
    text-align: center;
    margin-bottom: 80px;
}
.contacts-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.contacts-wrapper__desc {
    max-width: 603px;

}
.contacts-wrapper__desc-text {
    margin-bottom: 44px;
    font-size: 20px;
    color: var(--text);
    line-height: 1.6;
    text-align: left;
}
 .contacts-wrapper__desc-block-item {
     display: flex;
     justify-content: space-between;
     margin-bottom: 38px;
 }
.contact-type {
    font-size: 20px;
    color: var(--text);
    font-weight: 700;
    line-height: 1.2;
}
  
.contacts-wrapper__img {
    position: absolute;
    max-width: 400px;
    left: 0;
    top: 0;
    transform: translate(-100%);
    // .move-quot {
    //     transform: translate(-300%, -150%); 
    // }

    // display: flex;
    // justify-content: center;
    // align-items: left;
}
.move-quot {
    position: absolute;
    top: 15%;
    left: 0;
    transform: translate(-500%, 0%);
    opacity: .7;
    max-width: 300px;
}