.footer {
  padding: 21px 0;
  background-color: #333;

  @media (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 41px;
  }
}
.footer p {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1.62;
  &::selection {
    background-color: #fbdc4d;
  }
  &::-moz-selection {
    background-color: #fbdc4d;
  }
}
.footer p.footer-copyright {
  margin-bottom: 16px;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: 500;

  &::selection {
    background-color: #fbdc4d;
  }
  &::-moz-selection {
    background-color: #fbdc4d;
  }
}
.footer p a {
  color: #b0b0b0;
  text-decoration: underline;

  &:hover,
  &:active {
    color: #fff;
  }
  &::selection {
    background-color: #fbdc4d;
  }
  &::-moz-selection {
    background-color: #fbdc4d;
  }
}
