form.contacts-form {
  max-width: 511px;

  padding: 61px 63px 41px;

  background-color: #fff;
  box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.4);
}

.form-item {
  position: relative;
  .form-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #bcbcbc;
    font-size: 20px;
    height: 50px;
    transition: 0.5s;
    &:active,
    &:focus {
      border-bottom: 2px solid #ea736d;
    }
  }
  textarea.form-field {
    height: 133px;
  }
}
.form-item + .form-item {
  margin-top: 40px;
}
.fake-placeholder {
  position: absolute;
  top: 4px;
  left: 0;
  font-weight: 700;
  font-size: 20px;
  color: #bcbcbc;
  line-height: 1.2;
  text-align: left;
  pointer-events: none;
  transition: 0.5s;
}

.fake-placeholder.active {
  top: -15px;
  font-size: 16px;
  color: #ed9626;
}
.form-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 20px 40px;
  height: 64px;
  border-radius: 30px;
  background-color: #fbdc4d;
  font-size: 22px;
  color: var(--text);
  font-weight: 700;
  line-height: 24px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
