.contacts-wrapper__form {
  @media (min-width: 768px) {
    width: 50%;
    padding-top: 7px;
  }
  @media (min-width: 1200px) {
    padding-top: 0;
    width: 50%;
    max-width: 533px;
  }
}
form.contacts-form {
  width: 100%;
  padding: 44px 15px 41px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.4);
  border-radius: 10px;

  @media (min-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    margin-left: auto;
    max-width: 339px;
  }
  @media (min-width: 1200px) {
    padding: 53px 63px 41px;
    max-width: 510px;
    margin: auto;
  }
}
.form-item {
  position: relative;
  .form-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #bcbcbc;
    font-size: 20px;
    height: 50px;
    transition: 0.5s;
    &:active,
    &:focus {
      border-bottom: 2px solid #ea736d;
    }
  }
  textarea.form-field {
    padding-top: 15px;
    height: 128px;
    @media (min-width: 1200px) {
      height: 118px;
    }
  }
}
.form-item + .form-item {
  margin-top: 33px;
  @media (min-width: 1200px) {
    margin-top: 54px;
  }
}
.fake-placeholder {
  position: absolute;
  top: 10px;
  left: 0;
  font-weight: 700;
  font-size: 20px;
  color: #bcbcbc;
  line-height: 1.2;
  text-align: left;
  pointer-events: none;
  transition: 0.5s;
}

.fake-placeholder.active {
  top: -16px;
  font-size: 16px;
  color: #ed9626;
  @media (min-width: 1200px) {
    top: -10px;
  }
}
.form-item textarea,
input {
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
  line-height: 1.2;
  text-align: left;
}
.form-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 54px;
  line-height: 46px;
  border-radius: 30px;
  background-color: #fbdc4d;
  font-size: 22px;
  color: var(--text);
  font-weight: 700;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &:hover {
    background-color: #ffd200;
  }
  &:active {
    background-color: #e1bc10;
  }

  @media (min-width: 1200px) {
    display: inline-block;
    width: auto;
    padding: 20px 35px;
    margin-top: 32px;
    height: 64px;
    line-height: 24px;
  }
}
label.error {
  font-size: 14px;
  font-weight: 700;
  color: #f31a0e;
  position: relative;
  top: -10px;
}
.contact-form__success {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: var(--text);
  line-height: 1.2;

  &::selection {
    background-color: #fbdc4d;
  }
  &::-moz-selection {
    background-color: #fbdc4d;
  }
  @media (min-width: 1200px) {
    width: 533px;
    font-size: 20px;
  }
}
