.header-main {
  position: relative;
  z-index: 3;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
.header-main__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
    padding: 0;
  }
}
.header-main__content-img {
  width: 100%;
  max-width: 290px;
  margin-bottom: 55px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    max-width: 338px;
    margin-bottom: 0;
		text-align: center;
  }
  @media (min-width: 1200px) {
    max-width: 457px;
  }
}
.header-main__content-desc {
  width: 100%;

  @media (min-width: 768px) {
    max-width: 338px;
  }
  @media (min-width: 1200px) {
    max-width: 558px;
  }
}
.title1 {
  display: inline-block;
  margin-bottom: -2px;
  h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.1;
  }
  span {
    display: inline-block;
    margin-bottom: 7px;

    &::after {
      height: 12px;
      bottom: 0;
    }
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 52px;
      margin-bottom: 15px;
    }
    .title1 span:first-child {
      margin-bottom: 10px;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 90px;
      margin-bottom: 17px;
    }
    span {
			margin-bottom: 0;
			padding-bottom: 6px;
			&::after {
				content: "";
				position: absolute;
				bottom: 16px;
				left: 0;
				right: 0;
				z-index: -1;
				height: 12px;
			}
		}

		.title-1 span:first-child {
			margin-bottom: 12px;
			
			&::after {
				left: -5px;
			}
		}
  }
}
h1 .line-bottom::after {
  width: 101%;
}
.content-desc__text {
  p {
    color: #393f47;
    line-height: 1.7;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.4);
    &::selection {
      background-color: #fbdc4d;
    }
    &::-moz-selection {
      background-color: #fbdc4d;
    }
  }
  @media (min-width: 768px) {
    p > .none {				
			display: none;
		}
  }
  @media (min-width: 1200px) {
    margin-bottom: 30px;
    p {
      max-width: 508px;
			font-size: 24px;
			line-height: 1.5;
    }
    
  }
}
