.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    background-color: lightcoral;
    z-index: 5;
    transform: translateX(100%);
    transition: .5s;

    @media(min-width: 1200px) {
        display: none;
    }
}
.mobile-menu.active {
    transform: translateX(0);
}