.skills {
  padding-top: 70px;
  margin-top: -70px;
  margin-bottom: 235px;
}
.skills-wrapper {
  display: flex;
  justify-content: space-between;
}
.skills-desc__title {
  margin-bottom: 25px;
}
.skills-desc__text {
  margin-left: 30px;
  margin-bottom: 50px;
}
.skills-desc__text li {
  position: relative;
  &::selection {
    background-color: #fbdc4d;
  }
  &::-moz-selection {
    background-color: #fbdc4d;
  }
  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    left: -32px;
    top: 20px;
    background-color: #6b6b6b;
  }
}
.skills-communication {
  width: 31%;
}
.skills-communication__title {
  margin-bottom: 32px;
}
