.timeline {
  padding-top: 150px;
  padding-bottom: 150px;

  background-image: url("../img/bg/02.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}
.timeline-title {
  text-align: center;
  margin-bottom: 174px;
}
.timeline .title3 {
  .line-bottom2::after {
    bottom: 10px;
  }
}
.timeline .title5 {
  .line-bottom2::after {
    bottom: 2px;
    height: 7px;
    left: 0;
    right: 0;
  }
}

.timeline_block__item {
    position: relative;
    width: 100%;
    padding-left: 98px;
    min-height: 175px;
    &::after {
        content: '';
        width: 4px;
        background-color: rgb(225, 238, 244);
        position: absolute;
        top: 77px;
        bottom: 0;
        left: 35px;
    }
    @media(min-width: 768px) {
        width: 50%;
    }
}
.timeline_block__item:hover {
    .line-bottom2::after {
        background-color: #ea736d;
        transition: .5s;
    }
}
.timeline_block__item:first-child {
    &::before {
        content: '';
        width: 4px;
        background-color: rgb(225, 238, 244);
        position: absolute;
        top: -98px;
        bottom: 217px;
        left: 35px;
    }
}
.timeline_block__item:last-child {
    &::after {
        display: none;
    }
}
.timeline_block__item:nth-child(even) {
    @media(min-width: 768px) {
        margin-left: auto;
        &::after {
            left: -2px;
        }
        .timeline-item__icon {
            left: -37px;
        }
        .timeline-text__desc {
            padding-left: 0;
        }
    }
}
.timeline_block__item:nth-child(odd) {
    @media(min-width: 768px) {
        padding-left: 68px;
        padding-right: 79px;
        text-align: right;
        &::after {
            left: auto;
            right: -2px;
        }
        &::before {
            left: auto;
            right: -2px;
        }
        .timeline-item__icon {
            left: auto;
            right: -37px;
        }
    }
} 
.timeline_block__item + .timeline_block__item {
    margin-top: 50px;
}
.timeline-item__text {
    margin-bottom: 11px;
}
.timeline-text__desc {
    margin-bottom: 13px;
    padding-left: 8px;
    font-size: 18px;
    color: var(--text);
    line-height: 1.2;
    font-weight: 500;
}
.timeline-text__time {
    font-size: 18px;
    color: var(--text);
    line-height: 1.2;
    font-weight: 700;
}
.timeline-item__icon {
    position: absolute;
    left: 0;
    top: -19px;
    min-width: 74px;
    height: 74px;
    border-radius: 28px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
    text-align: center;
}
.timeline-item__icon svg {
    width: 40px;
    padding-top: 17px;
}
.ic-1 {
    fill: #ffcf8f;
}
.ic-2 {
    fill: #ff5b5b;
}
.ic-3 {
    fill: #ac74ee;
}
.ic-4 {
    fill: #61e7d0;
}
.ic-5 {
    fill: #7cc0ff;
}
  